*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* contador */
/* img {
    width: 500px;
    height: 500px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: #fff;
  }
  
  span {
    font-size: 5em;
  } */
/*  contador*/

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #2edae6;
}


.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

.header{
    height: 100vh;
    /* 02 */
    background-image: /*linear-gradient(to top, rgba(251, 194, 235, 0.486) 0%, 
    hsla(218, 68%, 79%, 0.514) 100%), */
    url(img/logofoto.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}





.mapa {
   
   text-align: center;
    padding-top: 30px;
    
}

.mapa h2 {
    /* text-align: center; */
    background-color: blue;
    border-radius: 20px;
    margin-bottom: 30px;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-family:  'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}



/*  */
.info {
   
    text-align: center;
     padding-top: 30px;
     text-align: justify;
     color: blue;
     
 }

 .subtitulo-info {
     color: white;
     text-align: center;
 }
 
 .info h3 {
     /* text-align: center; */
     background-color: blue;
     border-radius: 20px;
     margin-bottom: 30px;
     font-size: 40px;
     padding-top: 20px;
     padding-bottom: 20px;
     color: white;
     font-family:  'Arial Narrow', Arial, sans-serif;
     text-transform: uppercase;
 }

 
/*  */


.head{
    padding: 0;
    height: 119%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: blue;
}


.hamburguer{
    position: fixed;
    top: 50px;
    right: 50px;
    background: #fff;
    width:40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 10px black; 
   
    
}

.menu-navegacion{
    position: fixed;
    top: 0;
    width: 30vw;
    height: 100%;
    /* background-image: linear-gradient(to top, #fbc2eb 0%, #a6c0ee 100%);saque yooo */
    /* 02 */
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    /* 028 */
    background-image: linear-gradient(135deg, #2edae6 0%, #8de0ee 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    right: 0;
    transform: translateX(110%);
    transition:transform .3s ease-in-out; 
  
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    /* border-radius: 10px;yoooooooo */
}

.spread{
    transform: translateX(0);
}

.menu-navegacion a{
    color: blue;
    text-decoration: none;
    border-radius: 10px;
    font-size: 24px;
    transition: all 0.4s linear;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
/*  */
.menu-navegacion a:hover {
    background: #076d5f;
   
    color: #2edae6;
    padding-left: 10px;
    padding-right: 10px;
}

/*  */


/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */
/* .titulo{
    font-size: 30px;
    margin-bottom: 15px;
    background: #2edae6;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 40px;
} */

.copy{
    font-weight: 300;
    font-size: 25px;
}

/* Services */

.subtitulo{
    /* color: red;
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 30px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    background: #7adbe2;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px; */
    background-color: blue;
    border-radius: 20px;
    margin-bottom: 30px;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-family:  'Arial Narrow', Arial, sans-serif;
    text-align: center;
 
}



/*  */

.contenedor-cursos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    text-align: justify;
}
h3 {
    background-color: #076d5f;
    text-align: center;
}

.subtitulo-info2 {
  background-color: rgb(197, 13, 13);
  border-radius: 20px;
  color: white;
  text-align: center;
  padding-bottom: 5px;
  text-transform: uppercase;
}
 .fondo {
     background-color: blue;
     color:  white;
     text-align: center;
     height: 80%;
     border-radius: 20px;
     padding-top: 10px;
     padding-bottom: 10px;
 }
 

/*  */



.contenedor-cursos img{
    width: 40%;
}

.instalacion1-cursos{
    width: 45%;
}

/*  */

/* .contenedor-reparacion{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.contenedor-reparacion img{
    width: 30%;
}
.reparacion-reparacion{
    width: 45%;
} */

/*  */

/* .contenedor-plaquetas{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.contenedor-plaquetas img{
    width: 30%;
}
.plaquetas-plaquetas{
    width: 45%;
} */

/*  */



.cursos{
    margin-bottom: 20px;
    /* background: #2edae6; */
}

.n-cursos{
    margin-bottom: 7px;
    color: white;
  
}

.cursos p {
    /* color: rgb(37, 3, 4); */
    color: blue;
    margin-bottom: 50px;
   
}

.n-reparacion{
    margin-bottom: 7px;
    color: white;
}

.n-plaquetas{
    margin-bottom: 7px;
    color: white;
}

.number{
    display: inline-block;
    /* 02 */
    background-image: linear-gradient(to top, blue 0%, #53f28d 100%);
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    color: #fff;
    font-weight: 700;
    
}

.gallery{
    background: hsl(141, 77%, 86%);
}

.contenedor-galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 60px;
}

.img-galeria{
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
    cursor: pointer;
    
}

.imagen-light{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.534);
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}










.agregar-imagen{
    object-fit: cover;
    width: 60%;
    transform: scale(1);
    border-radius: 10px;
    transition: transform .3s .2s;

    
}

.showImage{
    transform: scale(1);
}

.show{
    transform: translate(0);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
    
}

.services{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
 
  
 
 
}

.cont-service {
    background-color: #2edae6;
    width: 30%;
    text-align: center;
    /* padding: 0px; */
    color: white;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    padding-top: 0px;
    
}

/*  */
.cont-service h3 {
    margin-bottom: 20px;
    margin-top: 30px;
    background-color: blue;
    margin-left: 35px;
    margin-right: 38px;
    /* width: 10px; */
    height: 30px;
    padding-top: 4px;
   
    border-radius: 6px;
    
}
/*  */


.cont-service img{
    display: block;
    margin: auto;
    width: 80%;
    
}

.n-service{
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    font-weight: 400;
   
    
}

/* .n-service-campus-h3 {
    margin-bottom: 20px;
} */

.visitas {
   
    
 text-align:center;
   
}





footer{
    background: blue;
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}


.contact-us{
    width: 40%;
    color: #fff;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand-p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

/*  */
.social-media-icon:hover{
    background: #fff;
    color: #764ba2;
}
/*  */
.social-media i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
  
}

.social-media-icon:hover{
    background: #fff;
    color:blue;
}

@media screen and (max-width: 800px){
    .menu-navegacion{
        width: 50vw;
    }

    .titulo{
        font-size: 40px;
    }

    .contenedor-cursos img{
        width: 80%;
        margin-bottom: 40px;
    }

    .cont-service h3{
    font-size: 10px;
    margin: 20px;
    }

    .mapa h2{
        font-size: 20px;
    }

    .info h2 {
        font-size: 15px;
        padding-top: 5px;
        padding-bottom: 6px;
    }

   .info h3 {
       font-size: 20px;
   }

   .fondo {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}
    
    .instalacion1-cursos{
        width: 80%;
    }

    .cursos{
        margin-bottom: 30px;
    }

    .img-galeria{
        width: 45%;
    }
    
    .agregarImagen{
        width: 80%;
    }

    
    .cont-servicios{
        width: 80%;
    }
    
    .footer-content{
        justify-content: center;
    }




    







    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .social-media i{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }

    
    
}


@media screen and (max-width: 500px){
    .menu-navegacion{
        width: 65vw;
    }

   

    .hamburguer{
        top: 20px;
        right: 20px;
    }

    .titulo{
        font-size: 30px;
    }

    .subtitulo{
        font-size: 30px;
    }

    .img-galeria{
        width: 95%;
    }
    
    .agregar-imagen{
        width: 95%;
    }

    .cont-servicios {
        width: 80%;
    }

    .social-media{
        width: 100%;
        /* justify-content: space-evenly; */
    }



    .contact-us{
        text-align: center;
        width: 90%;
        margin-bottom: 40px;
    }

    
   
    
    
}
